<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="../public/Assets/fontawesome-free-6.5.2-web/css/all.min.css">
    <title>portfolio</title>
</head>
<body>
    
    <header>
        <div class="logo">
            <p style="font-weight: bolder;">Mjr.dev</p>
        </div>
        <div class="nav">
            <ul>
                <li id="home">Home</li>
                <li id="skills">Skills</li>
                <li id="projects">Projects</li>
                <li id="contact">Contact</li>
            </ul>
        </div>
    </header>
    <div class="container1 home">
        <div class="top presentation">
            <div class="left">
                <h1>Hi, I'm Mijoro <span class="marson">Marson</span></h1>
                <h2>Frontend developer</h2>
                <p>A young developper, have a passion with art and code. Ready to realize your project. <br> </p>
                <span class="lessIsMore"><I style="opacity: 0.6;" class="slog">Less is more</I><i class="fas fa-face-smile-wink" id="smile"></i></span>
                <div class="btn">
                    <a class="btnLeft" href="https://www.canva.com/design/DAFsROihydU/6YbkburJFRy3RwssRrLVsA/view?utm_content=DAFsROihydU&utm_campaign=designshare&utm_medium=link&utm_source=editor">Hire Me</a>
                    <button class="btnRight talk">Let's Talk</button>
                </div>
            </div>
            <div class="right profil">
                <div class="imgProfil"><img src="../public/Assets/profil.png" alt="profil"></div>
            </div>
        </div>
        <div class="bottom socialMedia">
            <a target="_blank" href="https://github.com/Ralainandrasana" class="smedia"><i class="fab fa-github"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/mijoro-marson-ralainandrasana-a6b39528a" class="smedia"><i class="fab fa-linkedin"></i></a>
            <a target="_blank" href="https://www.facebook.com/mari.pol.560" class="smedia"><i class="fab fa-facebook"></i></a>
            <!-- <div class="smedia"><i class="fab fa-hackerrank"></i></div> -->
        </div>
    </div>
    <div class="container2 skills">
        <h2>My skills</h2>
        <div class="skillsContainer">
            <input type="radio" name="slide" id="s1">            
            <label class="skillsItem" for="s1">
                <i class="fab fa-html5" class="icon"></i>
                <p class="techno">HTML5</p>
                <h3 class="percentage">80%</h3>
            </label>
            <input type="radio" name="slide" id="s2">            
            <label class="skillsItem" for="s2">
                <i class="fab fa-css3" class="icon"></i>
                <p class="techno">CSS3</p>
                <h3 class="percentage">75%</h3>
            </label>
            <input type="radio" name="slide" id="s3" checked>            
            <label class="skillsItem" for="s3">
                <i class="fab fa-react" class="icon"></i>
                <p class="techno">REACTJS</p>
                <h3 class="percentage">70%</h3>
            </label>
            <input type="radio" name="slide" id="s4">            
            <label class="skillsItem" for="s4">
                <i class="fab fa-node" class="icon"></i>
                <p class="techno">NODEJS</p>
                <h3 class="percentage">60%</h3>
            </label>
            <input type="radio" name="slide" id="s5">            
            <label class="skillsItem" for="s5">
                <i class="fab fa-python" class="icon"></i>
                <p class="techno">PYTHON</p>
                <h3 class="percentage">70%</h3>
            </label>
        </div>
    </div>
    <div class="container4 projects">
        <h2>Projects</h2>
        <div class="projectContainer">
            <div class="projectCapture">
                <div><img src="../public/Assets/BlackPanther.PNG" alt="projectDescription" width="350" height="200"></div> 
            </div>
            <div class="projectDescription">
                <h3>Black Panter</h3>
                <p>This is my first project in web developper, without framework, from scratch. All the page is responsive.</p>
                <div class="techno">
                    <strong>Html5</strong>
                    <strong>Css3</strong>
                </div>
                <div class="codemo">
                    <div class="sourceCode">
                        <a href="https://github.com/Ralainandrasana/Blackpanther" target="_blank">Code</a>
                        <span><i class="fab fa-github"></i></span>
                    </div>
                    <div class="demo">
                            <a href="https://blackpanther-mjr.netlify.app/" target="_blank">Live demo</a>
                        <span><i class="fab fa-square-web-awesome"></i></span>
                        </div>
                </div>
            </div>
        </div>
        <div class="projectContainer projReverse" id="home">
                <div class="projectDescription">
                        <h3>No way home</h3>
                        <p>Do you love the univers of spiderman too. This website ll show you all the heros and ennemy.</p>
                        <div class="techno">
                            <strong>Boostrap</strong>
                            <strong>VanillaJs</strong>
                        </div>
                        <div class="codemo">
                            <div class="sourceCode">
                                <a href="https://github.com/Ralainandrasana/Spiderman" target="_blank">Code</a>
                                <span><i class="fab fa-github"></i></span>
                            </div>
                            <div class="demo">
                                    <a href="https://spiderman-mjr.netlify.app/" target="_blank">Live demo</a>
                                <span><i class="fab fa-square-web-awesome"></i></span>
                                </div>
                        </div>
                    </div>
            <div class="projectCapture">
                <div><img src="../public/Assets/noWayHome.PNG" alt="projectDescription" width="350" height="200"></div> 
            </div>
        </div>
        <div class="projectContainer">
                <div class="projectCapture">
                    <div><img src="../public/Assets/Batman.PNG" alt="projectDescription" width="350" height="200"></div> 
                </div>
                <div class="projectDescription">
                    <h3>Batman</h3>
                    <p>spiderman, BlackPanther, ... and Batman too, i m agree with DCxSAYNA on this project, a beautiful design</p>
                    <div class="techno">
                        <strong>VanillaJs</strong>
                        <strong>Css3</strong>
                    </div>
                    <div class="codemo">
                        <div class="sourceCode">
                            <a href="https://github.com/Ralainandrasana/Bathome" target="_blank">Code</a>
                            <span><i class="fab fa-github"></i></span>
                        </div>
                        <div class="demo">
                                <a href="https://bathome.netlify.app/" target="_blank">Live demo</a>
                            <span><i class="fab fa-square-web-awesome"></i></span>
                            </div>
                    </div>
                </div>
            </div>
            <div class="projectContainer projReverse">
                    <div class="projectDescription">
                            <h3>My Portfolio</h3>
                            <p>I ve created my own portfolio, a responsive website who can show you a part of my best project that i ve developped. You can visite my github profil to see more.</p>
                            <div class="techno">
                                <strong>NodeJs</strong>
                                <strong>Css3</strong>
                            </div>
                            <div class="codemo">
                                <div class="sourceCode">
                                    <a href="https://github.com/Ralainandrasana/Portfolio" target="_blank">Code</a>
                                    <span><i class="fab fa-github"></i></span>
                                </div>
                                <div class="demo" id="ctct">
                                        <a href="#" target="_blank">Live demo</a>
                                    <span><i class="fab fa-square-web-awesome"></i></span>
                                    </div>
                            </div>
                        </div>
                <div class="projectCapture">
                    <div><img src="../public/Assets/myPortfolio.PNG" alt="projectDescription" width="350" height="200"></div> 
                </div>
            </div>
    </div>
    <div class="container5 contact">
        <div class="formWrap">
            <form class="formContainer" action="/" method="POST">
                <h3>Contact Me</h3>
                <label>Enter your e-mail name</label>
                <input type="text" name="adrMail" class="adrMail">
                <label>text</label>
                <textarea name="message" id="" cols="30" rows="5"></textarea>
                <input type="submit" value="submit" class="btn">
            </form>
        </div>
    </div>
    <footer>
        <p>2024&copy;mijoromarson</p>
    </footer>
    <script src="../public/script.js"></script>
</body>
</html>