<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/poppop.css">
    <link rel="stylesheet" href="../public/Assets/fontawesome-free-6.5.2-web/css/all.min.css">
    <title>portfolio</title>
</head>
<body>
        <div class="popWrap">
                <div class="popContainer">
                        <h3><i class="fa-solid fa-circle-exclamation fa-2x5" style="color: #E95C4B;"></i></h3>
                        <h2>Oops!</h2>
                        <span>There was an error while sending your message</span>
                        <a href="/">Try again</a>
                    </div>
        </div>   
</body>
</html>